<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="/thy/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/thy/css/font-awesome.min.css">
	<link rel="stylesheet" href="/thy/css/main.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	.tree-closed {
	    height : 40px;
	}
	.tree-expanded {
	    height : auto;
	}
	</style>
  </head>

  <body>

    <nav th:fragment="navId" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <div><a class="navbar-brand" style="font-size:32px;" href="#">智慧工地 - 后台管理</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li style="padding-top:8px;">
				<div class="btn-group">
				  <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
					<i class="glyphicon glyphicon-user"></i> <span th:text="${userName}">管理员</span> <span class="caret"></span>
				  </button>
					  <ul class="dropdown-menu" role="menu">
						<li class="divider"></li>
						<li><a href="/loginOut"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
					  </ul>
			    </div>
			</li>
            <li style="margin-left:10px;padding-top:8px;">
				<button type="button" class="btn btn-default btn-danger">
				  <span class="glyphicon glyphicon-question-sign"></span> 帮助
				</button>
			</li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree">
				<ul th:fragment="daohang" style="padding-left:0px;" class="list-group">
					<li class="list-group-item tree-closed" >
						<a href="/admin/toAdminIndex"><i class="glyphicon glyphicon-dashboard"></i> 概览</a>
					</li>
					<li class="list-group-item tree-closed">
						<span><i class="glyphicon glyphicon glyphicon-tasks"></i> 数据维护 <span class="badge" style="float:right"> 7 </span></span>
						<ul style="margin-top:10px;display:none;">
							<li style="height:30px;">
								<a href="/admin/toRegPersonnel"><i class="glyphicon glyphicon-user"></i> 注册人员维护 </a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toRegPersonnelBlack"><i class="glyphicon glyphicon-check"></i> 黑名单维护 </a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toDangerWarning"><i class="glyphicon glyphicon-king"></i> 危险预警维护 </a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toDangerType"><i class="glyphicon glyphicon-check"></i> 危险类型维护 </a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toTodayOperatorAdd"><i class="glyphicon glyphicon-lock"></i>操作人员维护</a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toSafetyTimeUpdate"><i class="glyphicon glyphicon-lock"></i>安全工時维护</a>
							</li>
							<li style="height:30px;">
								<a href="/admin/toProjectNameUpdate"><i class="glyphicon glyphicon-lock"></i>项目名称维护</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">概览</h1>

          <div class="row placeholders">
<!--            <div class="col-xs-6 col-sm-3 placeholder">-->
<!--              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
<!--              <h4>Label</h4>-->
<!--              <span class="text-muted">Something else</span>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <script src="/thy/jquery/jquery-2.1.1.min.js"></script>
    <script src="/thy/bootstrap/js/bootstrap.min.js"></script>
	<script src="/thy/script/docs.min.js"></script>
    <script src="/js/adminIndex.js"></script>
  </body>
</html>
