<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/indexStatic/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/indexStatic/css/BIMManagementCenter.css" />
    <script src="/indexStatic/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/indexStatic/js/BIMManagementCenter.js"></script>
</head>

<body>
    <div id="PartyBuildingColumn">
        <div class="BIMManagementCenter_1">
            <div class="rise">
                <i></i>
                <span>BIM模型</span>
            </div>
            <div class="BIMManagementCenter_New_div">
                <img src='/indexStatic/img/BIM.png' alt="" />
                <div class="BIMManagementCenter_2">
                    <ul>
                        <li>拖动旋转</li>
                        <li>测距</li>
                        <li>显示全部构件</li>
                        <li>隐藏全部构件</li>
                        <li>构建炸裂</li>
                        <li>框选</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="BIMManagementCenter_3">
            <div class="rise">
                <i></i>    
                <span>属性信息</span>
            </div>
            <div id="BIMManagementCenter_Leader_div">
                <p><span class="category">显示内容：</span><span>精装修样板间</span></p>
                <p><span class="category">楼层：</span><span>1层</span></p>
                <p><span class="category">结构：</span><span>装配式混凝土剪力墙结构</span></p>
                <p><span class="category">构配件：</span><span>标准层户型预制构件</span></p>
                <p><span class="category">配件厂商：</span><span>中国二十二冶集团有限公司装配式建筑分公司</span></p>
                <p><span class="category">施工分包商：</span><span>吉林市恒诚建筑安装工程有限公司</span></p>
            </div>
        </div>
    </div>
</body>

</html>
