<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/indexStatic/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/indexStatic/css/EnvironmentalMonitoringCenter.css"/>
		<script src="/indexStatic/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/indexStatic/js/echarts.common.min.js"></script>
		<script src="/indexStatic/js/EnvironmentalMonitoringCenter.js"></script>
	</head>
	<body>
        <div id="PartyBuildingColumn">
            <div class="EnvironmentalMonitoringCenterDivOne">
                <div class="div_1">
                    <div class="rise">
                        <i></i>    
                        <span>监测预警</span>
                    </div>
                    <div class="MonitoringEarlyWarning">
                        <p><span class="category">1.《建筑时报》刊登中冶宝钢全国劳模李伟伟先进事迹...</span></p>
                        <p><span class="category">2.《新华网》：中国二十二冶开展“关爱农...</span></p>
                        <p><span class="category">3.中国二十二冶开展“关爱农民工兄弟 送健康到工地”主题活动..</span></p>
                        <p><span class="category">4.《中国网》：中国二十二冶开展“五一”...</span></p>
                        <p><span class="category">5.中国二十二冶开展“关爱农民工兄弟 送健康到工地”主题活动...</span></p>
                    </div>
                </div>
                <div class="div_1">
                    <div class="rise">
                        <i></i>    
                        <span>风速指标分析</span>
                    </div>
                    <div id="Analysis-Wind-Speed-Indicators"></div>
                </div>
            </div>

            <div class="EnvironmentalMonitoringCenterDivTwo">
                <div class="div_1 marginB">
                    <div class="rise">
                        <i></i>    
                        <span>空气质量等级</span>
                    </div>
                    <div id="Air-Quality-Grade"></div>
                </div>
                <div class="div_1">
                    <div class="rise">
                        <i></i>    
                        <span>趋势分析</span>
                    </div>
                    <div id="Analysis-Module">
                        <div id="PM255-Trend-Analysis"></div>
                        <div id="Noise-Index-Analysis"></div>
                    </div>
                </div>
            </div>

            <div class="EnvironmentalMonitoringCenterDivThree">
                <div class="div_1">
                    <div class="rise">
                        <i></i>    
                        <span>施工现场AQI指数</span>
                    </div>
                    <div class="AQIIndexConstructionSite">
                        <table>
                            <thead>
                                <tr>
                                    <td>AQI类别</td>
                                    <td>AQI级别</td>
                                    <td>AQI数值</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>优</td>
                                    <td>一级</td>
                                    <td>0-50</td>
                                </tr>
                                <tr>
                                    <td>良</td>
                                    <td>二级</td>
                                    <td>51-100</td>
                                </tr>
                                <tr>
                                    <td>轻度污染</td>
                                    <td>三级</td>
                                    <td>101-150</td>
                                </tr>
                                <tr>
                                    <td>中度污染</td>
                                    <td>四级</td>
                                    <td>151-200</td>
                                </tr>
                                <tr>
                                    <td>重度污染</td>
                                    <td>五级</td>
                                    <td>201-250</td>
                                </tr>
                                <tr>
                                    <td>严重污染</td>
                                    <td>六级</td>
                                    <td>251-300</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="div_1">
                    <div class="rise">
                        <i></i>    
                        <span>项目等级分析</span>
                    </div>
                    <div id="Project-Level-Analysis"></div>
                </div>
            </div>
        </div>
	</body>
</html>
