<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/indexStatic/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/indexStatic/css/PartyBuildingColumn.css" />
    <script src="/indexStatic/js/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/indexStatic/js/PartyBuildingColumn.js"></script>
</head>

<body>
    <div id="PartyBuildingColumn">
        <div class="PartyBuildingColumnDivOne">
            <div class="PartyBuildingColumn_1">
                <div class="rise">
                    <i></i>
                    <span>领导关怀</span>
                </div>
                <div id="PartyBuildingColumn_Leader_div">
                    <div id="PartyBuildingColumn_Leader">
                        <p>5月6日，中国五矿与中国奥林匹克委员会战略合作协议签约仪式在北京五矿广场举行。集团公司总经理、党组副书记、中冶集团董事长国文清，国家体育总局局长、党组书记苟仲文出席签约仪式，共同见证双方签约。签约仪式前，双方就加强战略合作、共建央企助力奥运新模式进行了充分交流。
                        </p>
                        <p>国文清对苟仲文一行的到访表示欢迎，对国家体育总局长期以来给予中国五矿和中冶集团的关心和支持表示感谢，介绍了中国五矿和中冶集团两家世界500强企业的发展历史及战略重组以来的发展情况。国文清指出，2015年12月战略重组后，中国五矿在全球金属矿业领域率先打通了从资源获取到勘查、设计、施工、采矿、选矿、冶炼、物流、贸易的全产业链。中国五矿是中国金属矿业领域首批国有资本投资公司，肩负着保障国家金属资源供应的使命，致力于打造“中国第一、世界一流”的金属矿产企业集团......
                        </p>
                    </div>
                    <div class="MORE">
                        <a href="#">MORE+</a>
                    </div>
                </div>
            </div>
            <div class="PartyBuildingColumn_2">
                <div class="rise">
                    <i></i>
                    <span>党建宣传</span>
                </div>
                <div class="PartyBuildingColumnNew">
                    <div class="PartyBuildingPublications">
                        <p><span class="category">1.《建筑时报》刊登中冶宝钢全国劳模李伟伟先进事迹...</span><span class="MORE"><a
                                    href="#">MORE+</a></span></p>
                        <p><span class="category">2.《新华网》：中国二十二冶开展“关爱农...</span><span class="MORE"><a
                                    href="#">MORE+</a></span></p>
                        <p><span class="category">3.中国二十二冶开展“关爱农民工兄弟 送健康到工地”主题活动..</span><span class="MORE"><a
                                    href="#">MORE+</a></span></p>
                        <p><span class="category">4.《中国网》：中国二十二冶开展“五一”...</span><span class="MORE"><a
                                    href="#">MORE+</a></span></p>
                        <p><span class="category">5.中国二十二冶开展“关爱农民工兄弟 送健康到工地”主题活动...</span><span class="MORE"><a
                                    href="#">MORE+</a></span></p>
                    </div>
                    <div class="PartyBuildingPublicationsImg">
                        <img src='/indexStatic/img/1.jpg' />
                    </div>
                </div>
            </div>
        </div>

        <div class="PartyBuildingColumnDivTwo">
            <div class="PartyBuildingColumn_3">
                <div class="rise">
                    <i></i>
                    <span>民主生活会</span>
                </div>
                <div id="PartyBuildingColumn_Democratic_div">
                    <div id="PartyBuildingColumn_Democratic">
                        <p>5月6日，中国五矿与中国奥林匹克委员会战略合作协议签约仪式在北京五矿广场举行。集团公司总经理、党组副书记、中冶集团董事长国文清，国家体育总局局长、党组书记苟仲文出席签约仪式，共同见证双方签约。签约仪式前，双方就加强战略合作、共建央企助力奥运新模式进行了充分交流。
                        </p>
                        <p>国文清对苟仲文一行的到访表示欢迎，对国家体育总局长期以来给予中国五矿和中冶集团的关心和支持表示感谢，介绍了中国五矿和中冶集团两家世界500强企业的发展历史及战略重组以来的发展情况。国文清指出，2015年12月战略重组后，中国五矿在全球金属矿业领域率先打通了从资源获取到勘查、设计、施工、采矿、选矿、冶炼、物流、贸易的全产业链。中国五矿是中国金属矿业领域首批国有资本投资公司，肩负着保障国家金属资源供应的使命，致力于打造“中国第一、世界一流”的金属矿产企业集团......
                        </p>
                    </div>
                    <div class="MORE">
                        <a href="#">MORE+</a>
                    </div>
                </div>
            </div>

            <div class="PartyBuildingColumnList">
                <div class="PartyBuildingColumn_3">
                    <div class="rise">
                        <i></i>
                        <span>党建学习资料</span>
                    </div>
                    <div id="PartyBuildingColumn_Party_div">
                        <div id="PartyBuildingColumn_Party">
                            <p>5月6日，中国五矿与中国奥林匹克委员会战略合作协议签约仪式在北京五矿广场举行。集团公司总经理、党组副书记、中冶集团董事长国文清，国家体育总局局长、党组书记苟仲文出席签约仪式，共同见证双方签约。签约仪式前，双方就加强战略合作、共建央企助力奥运新模式进行了充分交流。
                            </p>
                            <p>国文清对苟仲文一行的到访表示欢迎，对国家体育总局长期以来给予中国五矿和中冶集团的关心和支持表示感谢，介绍了中国五矿和中冶集团两家世界500强企业的发展历史及战略重组以来的发展情况。国文清指出，2015年12月战略重组后，中国五矿在全球金属矿业领域率先打通了从资源获取到勘查、设计、施工、采矿、选矿、冶炼、物流、贸易的全产业链。中国五矿是中国金属矿业领域首批国有资本投资公司，肩负着保障国家金属资源供应的使命，致力于打造“中国第一、世界一流”的金属矿产企业集团......
                            </p>
                        </div>
                        <div class="MORE">
                            <a href="#">MORE+</a>
                        </div>
                    </div>
                </div>
                <div class="PartyBuildingColumn_3">
                    <div class="rise">
                        <i></i>
                        <span>党员名单</span>
                    </div>
                    <div id="PartyMemberTable_table">
                        <table class="PartyMemberTable">
                            <tbody class="PartyMember">
                                <tr>
                                    <td>姓名</td>
                                    <td>性别</td>
                                    <td>联系电话</td>
                                    <td>备注</td>
                                </tr>
                                <tr>
                                    <td>谢应鹏</td>
                                    <td>男</td>
                                    <td>13001981891</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>赵奕程</td>
                                    <td>男</td>
                                    <td>13911326628</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>许金伟</td>
                                    <td>男</td>
                                    <td>13911130876</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>寅志强</td>
                                    <td>男</td>
                                    <td>18010075302</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>果言鑫</td>
                                    <td>男</td>
                                    <td>15811379264</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>李春雨</td>
                                    <td>女</td>
                                    <td>13699140429</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>刘余</td>
                                    <td>男</td>
                                    <td>18610945689</td>
                                    <td>入党积极分子</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
