<!DOCTYPE html>
<!--suppress ALL-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="/thy/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/thy/css/font-awesome.min.css">
	<link rel="stylesheet" href="/thy/css/main.css">
	<link rel="stylesheet" href="/thy/css/doc.min.css">
	<style>
	.tree li {
        list-style-type: none;
		cursor:pointer;
	}
	</style>
  </head>

  <body>

    <nav th:replace="adminIndex::navId" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
			<div class="tree" th:insert="adminIndex::daohang">
			</div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
<!--				<ol class="breadcrumb">
				  <li><a href="#">首页</a></li>
				  <li><a href="#">数据列表</a></li>
				  <li class="active">新增</li>
				</ol>-->
			<div class="panel panel-default">
              <div class="panel-heading">表单数据<div style="float:right;cursor:pointer;" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-question-sign"></i></div></div>
			  <div class="panel-body">
				<form id="formId" role="form" action="/admin/dayOperatorUpload" method="post" enctype="multipart/form-data" onsubmit="return getFile()">
				  <div class="form-group">
					<label for="fileUploadId">请上传Excel文件</label>
					<input type="file" class="form-control" id="fileUploadId" name="file" placeholder="上传文件">
				  </div>
				  <input type="submit" class="btn btn-success" value="导入">
				</form>
			  </div>
			</div>
        </div>
      </div>
    </div>
    <script src="/thy/jquery/jquery-2.1.1.min.js"></script>
    <script src="/thy/bootstrap/js/bootstrap.min.js"></script>
	<script src="/thy/script/docs.min.js"></script>
	<script src="/thy/jquery/layer/layer.js"></script>
    <script src="/js/RegPersonnelAdd.js"></script>
	<script src="/thy/jquery/jquery-form.min.js"></script>
  	<script type="text/javascript">
		function getFile() {
			let file = $("#fileUploadId").val();
			if(file == ''){
				layer.msg("请选择文件后在上传", {time:1000, icon:5, shift:6});
				return false;
			}


		}

		//提交成功
		$(function(){
			/** 验证文件是否导入成功  */
			$("#formId").ajaxForm(function(result){
				if(result.success){
					layer.msg("文件上传成功", {time:2000, icon:6});
				}else {
					layer.msg("文件上传失败", {time:2000, icon:5});
				}
			});
		});
	</script>
  </body>
</html>
